@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: var(--color-primary, #264192);
  --color-secondary: var(--color-secondary, #ffdd00);
  --color-accent: var(--color-accent, #ffffff);
  
  --font-sans: "Poppins", system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Fallback for variables if not set by JS */
:root {
  --color-primary: #264192;
  --color-secondary: #ffdd00;
  --color-accent: #ffffff;
}
