@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Standard CSS Variables (Fixes IDE warning for @theme) */
:root {
  --color-primary: #264192;
  --color-secondary: #ffdd00;
  --color-accent: #ffffff;
}
